/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f7f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#settings-container {
  width: 360px; /* Adjust width */
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #333;
}

/* Row Layout for input fields */
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
}

.full-width {
  width: 100%;
}

.col {
  flex: 1;
  margin-right: 10px;
}

.col:last-child {
  margin-right: 0;
}

label {
  font-size: 0.85rem;
  color: #555;
  display: block;
  margin-bottom: 6px;
}

input[type="number"],
input[type="text"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 0.85rem;
}

input:focus,
select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

button {
  padding: 10px;
  font-size: 0.85rem;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  width: 48%;
}

.blue {
  background-color: #007bff;
  color: white;
}

.red {
  background-color: #dc3545;
  color: white;
}

.green {
  background-color: #28a745;
  color: white;
}

.black {
  background-color: #000;
  color: white;
}

button:hover {
  opacity: 0.9;
}

#toast {
  position: fixed;
  right: 20px;
  left: 20px;
  top: 0;
  min-width: 200px;
  padding: 10px 20px;
  margin: 10px;
  background-color: rgb(4, 87, 21);
  color: #fff;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 1000;
  text-align: center;
}

#toast.show {
  opacity: 1;
  visibility: visible;
}

#custom-query {
  margin-bottom: 15px;
}
